minecraft_server.1.7.10.jar
data
hats
scripts
world
backups
blueprints
asm
logs
local
llibrary
modpack
crash-reports

usercache.json
whitelist.json
tailslibrary.json
betterfps.txt
banned-ips.json
banned-players.json
ops.json
minetweaker.log
eula.txt